.butInput-wrap {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  align-items: center;
  .header {
    height: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;

    .input {
      width: 100%;
      max-width: 300px;
      border: none;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      padding: 2px 8px;
      font-size: 13px;
      transition: all 0.4s;
      &:focus {
        transform: scale(1.1);
      }
      &:active {
        border: none;
      }
    }
    .btn {
      font-size: 13px;
      font-weight: 600;
      color: rgb(226, 226, 226);
      border: none;
      width: 100%;
      max-width: 80px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: rgb(59, 114, 67);
      transition: all 0.3s;
      &:hover {
        color: rgb(65, 65, 65);
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

.content-wrap {
  margin-top: 80px;
  background: transparent;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    background-color: rgba(153, 190, 104, 0.4);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-weight: 600;
    padding: 10px 4px;
    text-transform: uppercase;
    padding: 10px;
  }
  .flag {
    height: 200px;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }
}

.none-data {
  padding-top: 100px;
  font-weight: 600;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
